<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Edit Category</h3>
    </div>

    <%= form_for(@CurrentCat, :url=>{:action => 'updateCategory', :controller => 'category', :id=>@CurrentCat.id}, :method => :POST, :class => 'form-horizontal') do |f| %>
    <div class="modal-body">
          <%= f.label :name %>
          <%= text_field_tag :name, @CurrentCat.name %>
    </div>


    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Save changes</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

    <% end %>
  </div>
</div>


